.cardImgContainer {
  position: relative;
  height: 290px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  /* background-color: rgba(0, 0, 0, 0.05); Dark overlay */
  background-blend-mode: multiply;
}

/* Tag */
.labelTag {
  position: absolute;
  right: 0.55rem;
  top: 0.55rem;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  /* font-size: 0.75rem; */
}

.cardContent {
  padding: 0.75rem;
}

.cardContent > p {
  margin-bottom: 6px;
}

/* Responsive typography */
.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.cardDescription {
  font-size: 1rem;
  color: #121212;
}

.cardTime,
.cardAuthor {
  font-size: 0.85rem;
  color: #121212;
}

.cardContent .cardLabel {
  font-weight: 600 !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cardImgContainer {
    height: 240px;
  }

  .cardTitle {
    font-size: 1.1rem;
  }

  .cardDescription {
    font-size: 0.95rem;
  }

  .cardTime,
  .cardAuthor {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .cardImgContainer {
    height: 200px;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardDescription {
    font-size: 0.9rem;
  }

  .cardTime,
  .cardAuthor {
    font-size: 0.75rem;
  }

  .labelTag {
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
  }
}