.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

/* Input Contaienr */
.inputContainer {
    display: flex;
    align-items: center;
}

.searchTitle{
    font-size: 1rem;
    font-weight: 400;
}

.inputContainer input {
  min-width: 525px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
}

.filterOptions {
  display: flex;
}

/* Select  */
.filterSelect {
  padding: 8px 12px;
}
