.subHeader {
  margin-bottom: 3rem;
}

.heading {
  font-size: 1.65rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.subHeading {
  font-size: 1rem;
  font-weight: 400;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .subHeader {
        margin-bottom: 2.5rem;
      }

  .heading {
    font-size: 1.5rem;
  }

  .subHeading {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .subHeader {
    margin-bottom: 2rem;
  }

  .heading {
    font-size: 1.3rem;
  }

  .subHeading {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .subHeader {
    margin-bottom: 1.5rem;
  }

  .heading {
    font-size: 1.2rem;
  }

  .subHeading {
    font-size: 0.85rem;
  }
}
