.label {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid;
  text-align: center;
  backdrop-filter: blur(4px);
}

.labelText {
  font-size: 12px;
  font-weight: 600;
  
}

